html {
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    padding: 0px;
}

body {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background: rgb(219, 215, 255);
    background: linear-gradient(0deg, rgba(219, 215, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

h1 {
    font-size: 6rem;
    margin: 0;

    padding-left: 2%;
    color: #fff;
}

header {
    display: block;
    background-color: rgb(37, 40, 61);
}

.contenedor {
    margin: 0;
}

.nav-principal {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
}

/*responsively app*/
@media (min-width: 768px) {
    .nav-principal {
        flex-direction: row;
        justify-content: space-between;
        padding-right: 5%;
    }

}

.nav-principal a {
    display: flex;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.nav-principal a:hover {
    background-color: gray;
}

.nav-secundario {
    display: flex;
    flex-direction: row;
}

.nav-secundario-bg {
    background-color: #fff;
}

/*responsively app*/
@media (min-width: 768px) {
    .nav-secundario {
        flex-direction: row;
        justify-content: center;
        padding-right: 5%;
    }
}

.nav-secundario a {
    display: inline;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
}

.nav-sec-a {
    display: flex;
    justify-content: center;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}
.nav-sec-a:hover{
    background-color: gray;
}

/*sugerencias*/
.Sugerencias {
    height: 400px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    -webkit-box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.57);
    box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.57);
    display: grid;
    text-align: center;
}
.Sugerencia h2{
    padding-left: 1rem;
    
}
.Sugerencia p{
    padding-left: 4%;
    padding-right: 4%;
}
footer {
    background-color: rgb(19, 20, 31);
    height: 200px;
}

/*formulario*/
.form-content {
    width: 20%;
    height: 400px;
    background-color: rgb(219, 212, 230);
    border-radius: 10px;
    padding: 4rem;
    position: fixed;
    left: 80%;
    top: 60%;
}

.form-content legend {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5px;
}

.form-content fieldset {
    border: none;
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    font-weight: 700;
    font-size: 1.5rem;
    display: block;
}

.input {
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}


.boton:hover {
    background-color: lightslategray;

}

/*slider*/
@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 1200px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}